= form_for @sales_order, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :customer_id, :class => 'control-label'
    .controls
      = f.number_field :customer_id, :class => 'number_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :invoiced_on, :class => 'control-label'
    .controls
      = f.date_select :invoiced_on, :class => 'date_select'
  .control-group
    = f.label :paid_on, :class => 'control-label'
    .controls
      = f.date_select :paid_on, :class => 'date_select'
  .control-group
    = f.label :private_comment, :class => 'control-label'
    .controls
      = f.text_field :private_comment, :class => 'text_field'
  .control-group
    = f.label :public_comment, :class => 'control-label'
    .controls
      = f.text_field :public_comment, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), sales_order_path, :class => 'btn'
