- model_class = @sales_order.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:customer_id) + ':'
  %br
  = @sales_order.customer_id
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @sales_order.state
%p
  %strong= model_class.human_attribute_name(:invoiced_on) + ':'
  %br
  = @sales_order.invoiced_on
%p
  %strong= model_class.human_attribute_name(:paid_on) + ':'
  %br
  = @sales_order.paid_on
%p
  %strong= model_class.human_attribute_name(:private_comment) + ':'
  %br
  = @sales_order.private_comment
%p
  %strong= model_class.human_attribute_name(:public_comment) + ':'
  %br
  = @sales_order.public_comment

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), sales_order_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_sales_order_path(@sales_order), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), sales_order_path(@sales_order), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
