<h1>Product Types</h1>

<div style='float: right; padding: 5px'>
  <%= button_to 'New Product Type', new_product_type_path %>
</div>

<table class="listing" width="100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @product_types.each do |product_type| %>
  <tr class="<%= cycle('','even') %>">
    <td><%= link_to product_type.name, product_type %></td>
    <td><%=h product_type.description %></td>
    <td class="status"><%= link_to icon_edit, edit_product_type_path(product_type) %></td>
  </tr>
  <% end %>
</table>