%h1 Listing product_types

%table
  %tr
    %th Name
    %th Description
    %th Active
    %th
    %th
    %th

  - @product_types.each do |product_type|
    %tr
      %td= product_type.name
      %td= product_type.description
      %td= product_type.active
      %td= link_to 'Show', product_type
      %td= link_to 'Edit', edit_product_type_path(product_type)
      %td= link_to 'Destroy', product_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product type', new_product_type_path
