.page-header
  .row
    .span11
      %h1 Product Types
    .span1
      = link_to "New", new_product_type_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th Products
  %tbody
    - @product_types.each do |product_type|
      %tr
        %td= link_to product_type.name, product_type_path(product_type)
        %td= product_type.description
        %td= product_type.products.length
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_type_path(product_type), :class => 'btn btn-mini btn-info'