- model_class = @product_type.class
.page-header
  %h1=t '.title', :default => model_class.model_name.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @product_type.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @product_type.description
%p
  %strong= model_class.human_attribute_name(:active) + ':'
  %br
  = @product_type.active

%h2 Related Products
%table.table.table-striped
  %thead
    %tr
      %th Product
      %th Brand
      %th Description
  %tbody
    - @related_products.each do |product|
      %tr
        %td= link_to product.name, product_path(product)
        %td= product.brand
        %td= product.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), product_types_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_type_path(@product_type), :class => 'btn'