<h1>Editing purchase_order_item</h1>

<% form_for(@purchase_order_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :purchase_order_id %><br />
    <%= f.text_field :purchase_order_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @purchase_order_item %> |
<%= link_to 'Back', purchase_order_items_path %>