<h1>Listing Purchase_Order_Items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

<% @purchase_order_items.each do |purchase_order_item| %>
  <tr>
    <td><%=h purchase_order_item.product_id %></td>
    <td><%=h purchase_order_item.quantity %></td>
    <td><%=h purchase_order_item.price %></td>
    <td><%= link_to 'Show', purchase_order_item %></td>
    <td><%= link_to 'Edit', edit_purchase_order_item_path(purchase_order_item) %></td>
    <td><%= link_to 'Destroy', purchase_order_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase_order_item', new_purchase_order_item_path %>