<h1>Editing certifier</h1>

<% form_for(@certifier) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @certifier %> |
<%= link_to 'Back', certifiers_path %>