<p>
  <b>Name:</b>
  <%=h @certifier.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @certifier.description %>
</p>

<p>
  <b>Website:</b>
  <%=h @certifier.website %>
</p>

<p>
  <b>Logo image url:</b>
  <%=h @certifier.logo_image_url %>
</p>


<%= link_to 'Edit', edit_certifier_path(@certifier) %> |
<%= link_to 'Back', certifiers_path %>