.span9
  .page-header
    %h1 User Sign Up

  .form-horizontal
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!

      .field-set
        .control-group
          .control-label
            = f.label :first_name
          .controls
            = f.text_field :first_name
        .control-group
          .control-label
            = f.label :last_name
          .controls
            = f.text_field :last_name
        .control-group
          .control-label
            = f.label :email
          .controls
            = f.email_field :email
        .control-group
          .control-label
            = f.label :password
          .controls
            = f.password_field :password, :autocomplete => "off"
        .control-group
          .control-label
            = f.label :password_confirmation
          .controls
            = f.password_field :password_confirmation
        .control-group
          .controls
            = f.submit "Sign Up", :class => 'btn btn-primary'

.span3
  = render :partial => "devise/shared/links"
