<h1>Editing Purchase Order <%= @purchase_order.id %> for Supplier: <%= link_to(@purchase_order.supplier.name, @purchase_order.supplier) %></h1>

<% form_tag :controller => :purchase_order_items, :action => :create, :id => @purchase_order.id do %>

<div class="field required">
  <label for="product">Product</label>
  <%= select_tag :product, options_for_select(@available_products) %>
</div>

<div class="field required">
  <label for="quantity">Quantity</label>
  <%= select_tag :quantity, options_for_select(@available_quantities) %> <%= @uom %>
</div>

<%= submit_tag 'Add Item' %>
<% end %> 

<hr>

<table class="listing" width="100%">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Cost</th>
    <th>Cost</th>
    <th></th>
  </tr>

  <% @purchase_order.purchase_order_items.each do |item| %>
  <tr class="<%= cycle('','even') %>">
    <td class="text"><%= link_to(item.product.name, item.product) %></td>
    <td class="status"><%= item.quantity.to_s + ' x ' + item.product.minimum_quantity.to_s + item.product.units_of_measure.short_name %></td>
    <td class="number"><%= format_currency(item.product.cost) %></td>
    <td class="number"><%= format_currency(item.cost) %></td>
    <td class="status"><%= link_to(icon_delete, {:controller => 'purchase_order_items', :action => 'destroy', :id => item.id}, :confirm => 'Delete - Are you sure?', :method => :delete) %></td>
  </tr>
  <% end %>
  <tr>
    <td class="number" colspan="3">Total</td>
    <td class="number_bothline"><%= format_currency(@purchase_order.total_cost) %></td>
  </tr>
</table>

<% form_for(@purchase_order) do |f| %>
<%= f.error_messages %>
<p>
  <%= f.text_area :comment,  :cols => 40, :rows => 4 %>
</p>

<p>
  <%= f.submit 'Update' %>
</p>
<% end %>