<h1>Purchase Orders</h1>

<div style='float: right; padding: 5px'>
<%= button_to 'New Purchase Order', new_purchase_order_path %>           
</div>

<table class="listing" width="100%">
  <tr>
    <th>Order</th>
    <th>Supplier</th>
    <th>Comment</th>
    <th>Paid?</th>
    <th>Received?</th>
    <th>Amount</th>
    <th></th>
  </tr> 
  
  <% @purchase_orders.each do |purchase_order| %>
  <tr class="<%= cycle('','even') %>">
    <td class="status"><%= link_to(purchase_order.id, purchase_order) %></td>
    <td class="text"><%= link_to(purchase_order.supplier.name, purchase_order.supplier) %></td>
    <td><%=h purchase_order.comment %></td>
    <td class="status"><%= link_to(format_boolean(purchase_order.is_paid), :controller => :purchase_orders, :action => 'toggle_order_paid_status', :id => purchase_order.id) %></td>
    <td class="status"><%= link_to(format_boolean(purchase_order.is_received), :controller => :purchase_orders, :action => 'toggle_order_received_status', :id => purchase_order.id) %></td>
    <td class="number"><%= format_currency(purchase_order.total_cost) %></td>
    <td class="status">
      <%= link_to icon_edit, edit_purchase_order_path(purchase_order) %>
      <%= link_to icon_delete, purchase_order, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>