<h1>Purchase Order <%= @purchase_order.id %>  [<%= link_to @purchase_order.supplier.name, @purchase_order.supplier %>]</h1>

<table>
  <tr><td width="100"><b>Created</b></td><td><%= format_date(@purchase_order.created_at) %></td></tr>
  <tr><td width="100"><b>Paid?</b></td><td><%= format_boolean(@purchase_order.is_paid) %></td></tr>
  <tr><td width="100"><b>Received?</b></td><td><%= format_boolean(@purchase_order.is_received) %></td></tr>
  <tr><td width="100"><b>Comment:</b></td><td><%=h @purchase_order.comment %></td></tr>
</table>  

<hr>

<table class="listing" width="100%">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Cost</th>
    <th>Cost</th>
  </tr>

  <% @purchase_order.purchase_order_items.each do |item| %>
  <tr class="<%= cycle('','even') %>">
    <td class="text"><%= link_to(item.product.name, item.product) %></td>
    <td class="status"><%= item.quantity %> <%= item.product.units_of_measure.short_name %></td>
    <td class="number"><%= format_currency(item.product.cost) %></td>
    <td class="number"><%= format_currency(item.cost) %></td>
  </tr>
  <% end %>
  <tr>
    <td class="number" colspan="3">Total</td>
    <td class="number_bothline"><%= format_currency(@purchase_order.total_cost) %></td>
  </tr>
</table>

<%= link_to 'Edit Purchase Order', edit_purchase_order_path(@purchase_order) %>           
