= form_for @storage_type do |f|
  -if @storage_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@storage_type.errors.count, "error")} prohibited this storage_type from being saved:"
      %ul
        - @storage_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
