<h1>Tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Skill</th>
    <th>Effort</th>
    <th>Start</th>
    <th>Finish</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=h task.name %></td>
    <td><%=h task.skill.name %></td>
    <td><%=h task.effort %></td>
    <td><%= format_date(task.start) %></td>
    <td><%= format_date(task.finish) %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New task', new_task_path %> | 
<%= link_to 'Menu', :controller => 'welcome', :action => 'index' %>