<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Skill:</b>
  <%=h @task.skill_id %>
</p>

<p>
  <b>Start:</b>
  <%=h @task.start %>
</p>

<p>
  <b>Finish:</b>
  <%=h @task.finish %>
</p>

<p>
  <b>Fte load:</b>
  <%=h @task.fte_load %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>