<h1>Editing product_price</h1>

<% form_for(@product_price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_price %> |
<%= link_to 'Back', product_prices_path %>