<p>
  <b>Product:</b>
  <%=h @product_price.product_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @product_price.amount %>
</p>

<p>
  <b>Comment:</b>
  <%=h @product_price.comment %>
</p>


<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>