<h1>Administration</h1>

<h4><%= link_to('Certifiers', certifiers_path) %></h4>
<h4><%= link_to('Payment Types', payment_types_path) %></h4>
<h4><%= link_to('Product Types', product_types_path) %></h4>
<h4><%= link_to('Storage Locations', storage_locations_path) %></h4>
<h4><%= link_to('Units of Measure', units_of_measures_path) %></h4>
<h4><%= link_to('Physical Forms', physical_forms_path) %></h4>
