<h1>Administration</h1>

<h3><%= link_to('Certifiers', certifiers_path) %></h3>
<h3><%= link_to('Payment Types', payment_types_path) %></h3>
<h3><%= link_to('Product Types', product_types_path) %></h3>
<h3><%= link_to('Storage Locations', storage_locations_path) %></h3>
<h3><%= link_to('Units of Measure', units_of_measures_path) %></h3>
<h3><%= link_to('Physical Forms', physical_forms_path) %></h3>
<h3><%= link_to('Purchase Order States', purchase_order_states_path) %></h3>
<h3><%= link_to('Sales Order States', sales_order_states_path) %></h3>
