<h1>Listing Contact_Details</h1>

<table>
  <tr>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>Suburb town</th>
    <th>City</th>
    <th>State</th>
    <th>Postcode</th>
    <th>Country</th>
  </tr>

<% @contact_details.each do |contact_detail| %>
  <tr>
    <td><%=h contact_detail.address_line_1 %></td>
    <td><%=h contact_detail.address_line_2 %></td>
    <td><%=h contact_detail.suburb_town %></td>
    <td><%=h contact_detail.city %></td>
    <td><%=h contact_detail.state %></td>
    <td><%=h contact_detail.postcode %></td>
    <td><%=h contact_detail.country %></td>
    <td><%= link_to 'Show', contact_detail %></td>
    <td><%= link_to 'Edit', edit_contact_detail_path(contact_detail) %></td>
    <td><%= link_to 'Destroy', contact_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_detail', new_contact_detail_path %>