<h1>Customers</h1>

<div style='float: right; padding: 5px'>
  <%= button_to 'New Customer', new_user_path %>           
</div>

<table class="listing" width="100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Orders</th>
    <th>Payments</th>
    <th>Balance</th> 
    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr class="<%= cycle('','even') %>">
    <td><%= link_to(user.pretty_name, user) %></td>
    <td><%=h user.email %></td>
    <td class="number"><%= format_currency(user.total_orders) %></td>
    <td class="number"><%= format_currency(user.total_payments) %></td>
    <td class="number"><%= format_currency(user.account_balance) %></td>
    <td class="status">
      <%= link_to icon_edit, edit_user_path(user) %>
      <%= link_to icon_delete, user, :confirm => 'Are you sure?', :method => :delete %>
    </td>                                   
  </tr>
  <% end %>
</table>