<h1>Listing Customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Orders</th>
    <th>Payments</th>
    <th>Account Balance</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to(user.pretty_name, user) %></td>
    <td><%=h user.email %></td>
    <td><%= format_currency(user.total_orders) %></td>
    <td><%= format_currency(user.total_payments) %></td>
    <td><%= format_currency(user.account_balance) %></td>
    <td><%= link_to icon_edit, edit_user_path(user) %></td>
    <td><%= link_to icon_delete, user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_user_path %>