<div id="center">
  <h1><%= @user.pretty_name %> <%= link_to '[All Customers]', users_path %></h1>
</div>            

<div id='right_small'>
  <h2>Account</h2>
  <table width="80%">
    <tr><td>Total Orders</td><td class="number"><%= format_currency(@user.total_orders) %></td></tr>
    <tr><td>Total Payments</td><td class="number"><%= format_currency(@user.total_payments) %></td></tr>
    <tr><td>Account Balance</td><td class="number"><%= format_currency(@user.account_balance) %></td></tr>
  </table>
</div>  

<div id='left_large'>
  <h2>Details <%= link_to icon_edit, edit_user_path(@user) %></h2>
  <table width="80%">
    <tr><td>Address</td><td><%= @user.pretty_address %></td></tr>
    <tr>
      <td>Email</td>
      <td>
        <%= mail_to(@user.email, @user.email,
        :subject => "StockMgr",
        :body => "Hi " + @user.first_name
        ) %>  
      </td>
    </tr>
    <tr><td>Phone</td><td><%= @user.pretty_phone %></td></tr>
  </table>
</div>


<div id="center">
  <h2>Orders <%= link_to('Add', {:controller => 'sales_orders', :action => 'new', :id => @user.id}) %></h2>
  <div style='height:200px; overflow:auto; border-width:1px; border-style:solid; padding: 2px;'>
    <table class="listing" width="100%">
      <tr>
        <th>Order</th>
        <th>Created</th>
        <th>Comment</th>                        
        <th>Invoiced?</th>
        <th>Paid?</th>
        <th>Price</th>
        <th></th>
      </tr>
      <% @user.sales_orders.each do |order| %>
      <tr class="<%= cycle('','even') %>">
        <td class="status" width="7%"><%= link_to order.id, order %></td>
        <td class="status" width="12%"><%= format_date(order.created_at) %></td>
        <td class="text"><%= order.comment %></td>
        <td class="status" width="8%"><%= link_to(format_boolean(order.is_invoiced), :controller => 'users', :action => 'toggle_order_invoiced_status', :id => @user.id, :order_id => order.id) %></td>
        <td class="status" width="8%"><%= link_to(format_boolean(order.is_paid), :controller => 'users', :action => 'toggle_order_paid_status', :id => @user.id, :order_id => order.id) %></td>
        <td class="number" width="8%"><%= format_currency(order.total_price) %></td>
        <td class="status" width="12%">
          <%= link_to(icon_pdf, :controller => 'sales_orders', :action => 'invoice_pdf', :id => order.id) %>
          <%= link_to icon_edit, edit_sales_order_path(order) %>
          <%= link_to icon_delete, sales_order_path(order), :confirm => 'Delete - Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>  
    </table>
  </div>

  <h2>Payments  <%= link_to('Add', new_payment_path) %></h2>
  <div style='height:200px; overflow:auto; border-width:1px; border-style:solid; padding: 2px;'>
    <table class="listing" width="100%">
      <tr>
        <th>Payment</th>
        <th>Received</th>
        <th>Comment</th>
        <th>Type</th>
        <th>Amount</th>
        <th></th>
      </tr>
      <% @user.payments.each do |payment| %>
      <tr class="<%= cycle('','even') %>">
        <td class="status" width="7%"><%= link_to payment.id, payment %></td>
        <td class="status" width="12%"><%= format_date(payment.received_at) %></td>
        <td class="text"><%= payment.comment %></td>
        <td class="status" width="16%"><%= payment.payment_type.name %></td>
        <td class="number" width="8%"><%= format_currency(payment.amount) %></td>
        <td class="status" width="12%">
          <%= link_to icon_edit, edit_payment_path(payment) %>
          <%= link_to icon_delete, payment_path(payment), :confirm => 'Delete - Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %> 
    </table>
  </div>
</div>
