<h1>Editing skill</h1>

<% form_for(@skill) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Show', @skill %> |
<%= link_to 'Back', skills_path %>