<h1>Team Skills</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%=h skill.name %></td>
    <td><%=h skill.description %></td>
    <td><%= link_to 'Show', skill %></td>
    <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
    <td><%= link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New skill', new_skill_path %> | 
<%= link_to 'Menu', :controller => 'welcome', :action => 'index' %>