<h1>Listing Storage_Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @storage_locations.each do |storage_location| %>
  <tr>
    <td><%=h storage_location.name %></td>
    <td><%=h storage_location.description %></td>
    <td><%= link_to 'Show', storage_location %></td>
    <td><%= link_to 'Edit', edit_storage_location_path(storage_location) %></td>
    <td><%= link_to 'Destroy', storage_location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New storage_location', new_storage_location_path %>