<h1>Dashboard</h1>

<h4><%= link_to(@customers_count.to_s + ' Customers', users_path) %></h4>
<h4><%= link_to(@suppliers_count.to_s + ' Suppliers', suppliers_path) %></h4>
<h4><%= link_to(@products_count.to_s + ' Products', products_path) %></h4>
<h4><%= link_to(@purchase_orders_count.to_s + ' Purchase Orders', purchase_orders_path) %></h4>
<h4><%= link_to(@sales_orders_count.to_s + ' Sales Orders', sales_orders_path) %></h4>
<h4><%= link_to('Administration', :controller => 'administration', :action => 'index') %></h4>
