<h1>Dashboard</h1>

<%= link_to('Customers', users_path) %><br />
<%= link_to('Suppliers', suppliers_path) %><br />
<%= link_to('Products', products_path) %><br />
<%= link_to('Purchase Orders', purchase_orders_path) %><br />
<%= link_to('Sales Orders', sales_orders_path) %><br />
<%= link_to('Administration', :controller => 'administration', :action => 'index') %>
