<h1>Dashboard</h1>

<div id='right_small'>
  <h4><%= link_to('Administration', :controller => 'administration', :action => 'index') %></h4> 
</div>  

<div id='left_large'>
  <h4><%= @customers_count %> <%= link_to('Customers', users_path) %></h4>
  <h4><%= @suppliers_count %> <%= link_to('Suppliers', suppliers_path) %></h4>
  <h4><%= @products_count %> <%= link_to('Products', products_path) %></h4>
  <h4><%= @purchase_orders_count %> <%= link_to('Purchase Orders', purchase_orders_path) %></h4>
  <h4><%= @sales_orders_count %> <%= link_to('Sales Orders', sales_orders_path) %></h4>
</div>
