.page-header
  .row
    .span11
      %h1 Customers
    .span1
      = link_to "New", new_customer_path, :class => 'btn btn-primary'

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Phone
      %th Orders
      %th Payments
      %th Balance
  %tbody
    - @customers.each do |customer|
      %tr
        %td= link_to customer.pretty_name, customer_path(customer)
        %td= customer.preferred_phone
        %td= format_currency(customer.total_orders)
        %td= format_currency(customer.total_payments)
        %td= format_currency(customer.account_balance_cached)
        %td= link_to t('.edit', :default => t("helpers.links.eit")), edit_customer_path(customer), :class => 'btn btn-mini'
