.page-header
  .row
    .span11
      %h1 Customers
    .span1
      = link_to "New", new_customer_path, :class => 'btn btn-primary'

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th{:style => "width:10%"} Number of Orders
      %th{:style => "width:10%"} Number of Payments
      %th{:style => "width:10%"} Value
      %th Order Value
      %th Payment Value
      %th Balance
  %tbody
    - @customers.each do |customer|
      - total_orders = customer.total_orders
      %tr
        %td= link_to customer.pretty_name, customer_path(customer)
        %td= customer.sales_orders.size
        %td= customer.payments.size
        %td.progress
          .bar{:style => "width: #{(total_orders/@total_sales * 100).to_i}%"}
        %td= format_currency(total_orders)
        %td= format_currency(customer.total_payments)
        %td= format_currency(customer.account_balance_cached)
        %td{:style => "width:5%"}= link_to t('.edit', :default => t("helpers.links.edit")), edit_customer_path(customer), :class => 'btn btn-warning btn-mini'
