<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Tasks:</b>
  <table>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Effort</th>
    </tr>

    <% @project.tasks.each do |task| %>
    <tr>
      <td><%=h task.name %></td>
      <td><%=h task.skill.name %></td>
      <td><%=h task.effort %></td>
    </tr>
    <% end %>
  </table>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>