<p>
  <b>User:</b>
  <%=h @users_contact_detail.user_id %>
</p>

<p>
  <b>Contact detail:</b>
  <%=h @users_contact_detail.contact_detail_id %>
</p>

<p>
  <b>Contact detail type:</b>
  <%=h @users_contact_detail.contact_detail_type_id %>
</p>


<%= link_to 'Edit', edit_users_contact_detail_path(@users_contact_detail) %> |
<%= link_to 'Back', users_contact_details_path %>