= form_for @sales_order_item, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :sales_order_id, :class => 'control-label'
    .controls
      = f.number_field :sales_order_id, :class => 'number_field'
  .control-group
    = f.label :product_id, :class => 'control-label'
    .controls
      = f.number_field :product_id, :class => 'number_field'
  .control-group
    = f.label :quantity, :class => 'control-label'
    .controls
      = f.text_field :quantity, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), sales_order_items_path, :class => 'btn'
