<h1>New sales_order_item</h1>

<% form_for(@sales_order_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.select :product_id, @available_products, :prompt => 'Select ...' %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.select :quantity, @available_quantities, :prompt => 'Select ...' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>