<p>
  <b>Product:</b>
  <%=h @sales_order_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @sales_order_item.quantity %>
</p>

<p>
  <b>Percentage discount:</b>
  <%=h @sales_order_item.percentage_discount %>
</p>

<p>
  <b>Price:</b>
  <%=h @sales_order_item.price %>
</p>


<%= link_to 'Edit', edit_sales_order_item_path(@sales_order_item) %> |
<%= link_to 'Back', sales_order_items_path %>