<h1>Editing suppliers_contact_detail</h1>

<% form_for(@suppliers_contact_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :contact_detail_id %><br />
    <%= f.text_field :contact_detail_id %>
  </p>
  <p>
    <%= f.label :contact_detail_type_id %><br />
    <%= f.text_field :contact_detail_type_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @suppliers_contact_detail %> |
<%= link_to 'Back', suppliers_contact_details_path %>