<p>
  <b>User:</b>
  <%=h @suppliers_contact_detail.supplier_id %>
</p>

<p>
  <b>Contact detail:</b>
  <%=h @suppliers_contact_detail.contact_detail_id %>
</p>

<p>
  <b>Contact detail type:</b>
  <%=h @suppliers_contact_detail.contact_detail_type_id %>
</p>


<%= link_to 'Edit', edit_suppliers_contact_detail_path(@suppliers_contact_detail) %> |
<%= link_to 'Back', suppliers_contact_details_path %>