<h1>Editing people_skill</h1>

<% form_for(@people_skill) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :skill_id %><br />
    <%= f.text_field :skill_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @people_skill %> |
<%= link_to 'Back', people_skills_path %>