<h1>Skills</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Skill</th>
  </tr>

<% @people_skills.each do |people_skill| %>
  <tr>
    <td><%=h people_skill.person_id %></td>
    <td><%=h people_skill.skill_id %></td>
    <td><%= link_to 'Show', people_skill %></td>
    <td><%= link_to 'Edit', edit_people_skill_path(people_skill) %></td>
    <td><%= link_to 'Destroy', people_skill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person-Skill', new_people_skill_path %> | 
<%= link_to 'Menu', :controller => 'welcome', :action => 'index' %>