= form_for @payment, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :amount, :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'text_field'
  .control-group
    = f.label :payment_type_id, :class => 'control-label'
    .controls
      = f.select :payment_type_id, @payment_types, :prompt => 'Select ...', :class => 'number_field'
  .control-group
    = f.label :customer_id, :class => 'control-label'
    .controls
      = f.select :customer_id, @customers, :prompt => 'Select ...', :class => 'number_field'
  .control-group
    = f.label :received_at, :class => 'control-label'
    .controls
      = f.date_select :received_at, :class => 'date_select'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_area :comment, :class => 'input-xlarge', :rows => '3'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), payments_path, :class => 'btn'
