<p>
  <%= f.label :payment_type_id %><br />
  <%= f.select :payment_type_id, @payment_types, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :amount %><br />
  <%= f.text_field :amount %>
</p>
<p>
  <%= f.label :received_at %><br />
  <%= f.date_select :received_at %>
</p>
<p>
  <%= f.label :comment %><br />
  <%= f.text_area :comment,  :cols => 40, :rows => 4 %>
</p>