.page-header
  %h1 Payments

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Customer
      %th Received
      %th Type
      %th Comment
      %th Amount
    %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to(payment.customer.pretty_name, payment)
        %td= format_date(payment.created_at)
        %td= payment.payment_type_name
        %td= truncate(payment.comment, :length => 50, :omission => '...')
        %td= format_currency(payment.amount)
        %td
          = link_to 'Edit', edit_payment_path(payment), :class => 'btn btn-warning btn-mini'
          = link_to 'Delete', payment, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
