<h1>New payment</h1>

<% form_for(@payment) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>

  <p>
    <% unless params[:id] %>
      <%= f.label 'Customer' %><br />
      <%= f.select :user_id, @customers, :prompt => 'Select ...' %>
    <% else %>
      <%= f.hidden_field :user_id, :value => params[:id]  %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', payments_path %>