<h1>Payment <%= @payment.id %> from Customer: <%= link_to(@payment.user.pretty_name, @payment.user) %></h1>

<p>
  <b>Received:</b>
  <%= format_date(@payment.received_at) %>
</p>

<p>
  <b>Payment Type:</b>
  <%=h @payment.payment_type.name %>
</p>

<p>
  <b>Amount:</b>
  <%= format_currency(@payment.amount) %>
</p>

<p>
  <b>Comment:</b>
  <%=h @payment.comment %>
</p>