%p
  %b Amount:
  = @payment.amount
%p
  %b Payment type:
  = @payment.payment_type_id
%p
  %b Customer:
  = @payment.customer_id
%p
  %b Received at:
  = @payment.received_at
%p
  %b Comment:
  = @payment.comment

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
