<h1>Editing physical_form</h1>

<% form_for(@physical_form) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @physical_form %> |
<%= link_to 'Back', physical_forms_path %>