<h1>Editing payment_type</h1>

<% form_for(@payment_type) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payment_type %> |
<%= link_to 'Back', payment_types_path %>