<h1>Listing Payment_Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @payment_types.each do |payment_type| %>
  <tr>
    <td><%=h payment_type.name %></td>
    <td><%=h payment_type.description %></td>
    <td><%= link_to 'Show', payment_type %></td>
    <td><%= link_to 'Edit', edit_payment_type_path(payment_type) %></td>
    <td><%= link_to 'Destroy', payment_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_type', new_payment_type_path %>