<h1>Editing contact_detail_type</h1>

<% form_for(@contact_detail_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_detail_type %> |
<%= link_to 'Back', contact_detail_types_path %>