<h1>Listing Contact_Detail_Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @contact_detail_types.each do |contact_detail_type| %>
  <tr>
    <td><%=h contact_detail_type.name %></td>
    <td><%=h contact_detail_type.description %></td>
    <td><%= link_to 'Show', contact_detail_type %></td>
    <td><%= link_to 'Edit', edit_contact_detail_type_path(contact_detail_type) %></td>
    <td><%= link_to 'Destroy', contact_detail_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_detail_type', new_contact_detail_type_path %>