= form_for @supplier, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :website, :class => 'control-label'
    .controls
      = f.text_field :website, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :account_name, :class => 'control-label'
    .controls
      = f.text_field :account_name, :class => 'text_field'
  .control-group
    = f.label :account_number, :class => 'control-label'
    .controls
      = f.text_field :account_number, :class => 'text_field'
  .control-group
    = f.label :delivery_rules, :class => 'control-label'
    .controls
      = f.text_area :delivery_rules, :class => 'text_area'
  .control-group
    = f.label :address_line_1, :class => 'control-label'
    .controls
      = f.text_field :address_line_1, :class => 'text_field'
  .control-group
    = f.label :address_line_2, :class => 'control-label'
    .controls
      = f.text_field :address_line_2, :class => 'text_field'
  .control-group
    = f.label :suburb, :class => 'control-label'
    .controls
      = f.text_field :suburb, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :postcode, :class => 'control-label'
    .controls
      = f.text_field :postcode, :class => 'text_field'
  .control-group
    = f.label :phone_mobile, :class => 'control-label'
    .controls
      = f.text_field :phone_mobile, :class => 'text_field'
  .control-group
    = f.label :phone_home, :class => 'control-label'
    .controls
      = f.text_field :phone_home, :class => 'text_field'
  .control-group
    = f.label :phone_work, :class => 'control-label'
    .controls
      = f.text_field :phone_work, :class => 'text_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_area :comment, :class => 'text_area'
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.check_box :active, :class => 'check_box'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), supplier_path, :class => 'btn'
