<h1>Editing units_of_measure</h1>

<% form_for(@units_of_measure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @units_of_measure %> |
<%= link_to 'Back', units_of_measures_path %>