<p>
  <b>Name:</b>
  <%=h @units_of_measure.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @units_of_measure.description %>
</p>

<p>
  <b>Short name:</b>
  <%=h @units_of_measure.short_name %>
</p>


<%= link_to 'Edit', edit_units_of_measure_path(@units_of_measure) %> |
<%= link_to 'Back', units_of_measures_path %>