<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description,  :cols => 40, :rows => 4 %>
</p>
<p>
  <%= f.label :product_type_id %><br />
  <%= f.select :product_type_id, @product_types, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :supplier_id %><br />
  <%= f.select :supplier_id, @suppliers, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :certifier_id %><br />
  <%= f.select :certifier_id, @certifiers, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :units_of_measure_id %><br />
  <%= f.select :units_of_measure_id, @units_of_measure, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :storage_type_id %><br />
  <%= f.select :storage_type_id, @storage_types, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :storage_location_id %><br />
  <%= f.select :storage_location_id, @storage_locations, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :physical_form_id %><br />
  <%= f.select :physical_form_id, @physical_forms, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :stock_amount %><br />
  <%= f.text_field :stock_amount %>
</p>
