<table border="0" cellspacing="5" cellpadding="0">
<tr>
  <td><b>Name</b></td>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><b>Description</b></td>
  <td><%= f.text_area :description,  :cols => 32, :rows => 4 %></td>
</tr>
<tr>
  <td><b>Product Type</b></td>
  <td><%= f.select :product_type_id, @product_types, :prompt => 'Select ...' %></td>
</tr>
<tr>
  <td><b>Supplier</b></td>
  <td><%= f.select :supplier_id, @suppliers, :prompt => 'Select ...' %></td>
</tr>
<tr>
  <td><b>Supplier's Product Code</b></td>
  <td><%= f.text_field :supplier_reference %></td>
</tr> 
<tr>
  <td><b>Certifier</b></td>
  <td><%= f.select :certifier_id, @certifiers, :prompt => 'Select ...' %></td>
</tr>
<tr>
  <td><b>Storage Type</b></td>
  <td><%= f.select :storage_type_id, @storage_types, :prompt => 'Select ...'  %></td>
</tr>
<tr>
  <td><b>Storage Location</b></td>
  <td><%= f.select :storage_location_id, @storage_locations, :prompt => 'Select ...'  %></td>
</tr>
<tr>
  <td><b>Physical Form</b></td>
  <td><%= f.select :physical_form_id, @physical_forms, :prompt => 'Select ...'  %><td>
</tr>
<tr>
  <td><b>Units of Measure</b></td>
  <td><%= f.select :units_of_measure_id, @units_of_measure, :prompt => 'Select ...'  %></td>
</tr>
  <tr>
    <td><b>Purchase Price</b></td>
  <td><%= f.text_field :purchase_price %> <%= f.check_box :include_gst %> includes GST</td>
  </tr>
  <tr>
    <td><b>Sale Price</b></td>
    <td><%= f.text_field :sale_price %></tr>
  </tr>
</table>

<%= f.hidden_field :minimum_quantity, :value => 1 %>
