
<p>
  <%= f.label :name %> <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %> <%= f.text_area :description,  :cols => 40, :rows => 4 %>
</p>
<p>
  <%= f.label :product_type_id %> <%= f.select :product_type_id, @product_types, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :supplier_id %> <%= f.select :supplier_id, @suppliers, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :supplier_product_code %> <%= f.text_field :supplier_reference %>
</p> 
<p>
  <%= f.label :certifier_id %> <%= f.select :certifier_id, @certifiers, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :storage_type_id %> <%= f.select :storage_type_id, @storage_types, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :storage_location_id %> <%= f.select :storage_location_id, @storage_locations, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :physical_form_id %> <%= f.select :physical_form_id, @physical_forms, :prompt => 'Select ...'  %>
</p>
<hr>
<p>
  <%= f.label :units_of_measure_id %> <%= f.select :units_of_measure_id, @units_of_measure, :prompt => 'Select ...'  %>
</p>
<p>
  <%= f.label :purchase_price %> <%= f.text_field :purchase_price %>
</p>  
<p>
  <%= f.label :sale_price %> <%= f.text_field :sale_price %>
</p>
<%= f.hidden_field :minimum_quantity, :value => 1 %>
