.page-header
  .row
    .span11
      %h1 Products
    .span1
      = link_to "New", new_product_path, :class => 'btn btn-primary'

.form-horizontal
  = form_tag products_path, :method => :get do
    = text_field_tag :query, params[:query]
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary'
    = link_to 'Clear', products_path, :class => 'btn btn-warning'

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Supplier
      %th Type
      %th Name
      %th Brand
      %th Active
      %th Purchase Price
      %th Sale Price
      %th GST
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.supplier.name, supplier_path(product.supplier)
        %td= link_to product.product_type.name, product_type_path(product.product_type)
        %td= link_to product.name, product_path(product)
        %td= product.brand
        %td= format_boolean(product.active?)
        %td= format_currency(product.purchase_price)
        %td= format_currency(product.sale_price)
        %td= product.gst
        %td= link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(product), :class => 'btn btn-warning btn-mini'

- unless params[:query] && params[:query].length > 0
  = paginate @products unless params[:query]

