<h1>Products</h1>

<div style='float: right; padding: 5px'>
  <%= button_to 'New Product', new_product_path %>
</div>

<table class="listing" width="100%">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Supplier</th>
    <th>Certifier</th>
    <th>Purchase<br />Price</th>
    <th>Sale<br />Price</th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
  <tr class="<%= cycle('','even') %>">
    <td class="text"><%=link_to product.name, product %></td>
    <td class="status"><%=h product.product_type.name %></td>
    <td class="text"><%= link_to product.supplier.name, product.supplier %></td>
    
    <td class="text"><%= link_to(truncate(product.certifier.name, :length => 10), product.certifier) if product.certifier %></td>

    <td class="number"><%= format_currency(product.cost) %></td>
    <td class="number"><%= format_currency(product.price) %></td>
    <td class="status">
      <%= link_to icon_edit, edit_product_path(product) %>
      <%= link_to icon_delete, product, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %> 
</table>