<h1>Products</h1>

<div style='float: right; padding: 5px'>
  <%= button_to 'New Product', new_product_path %>
</div>

<table class="listing" width="100%">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Supplier</th>
    <th>Storage</th>
    <th>Location</th>
    <th>Available<br />Stock</th>
    <th>Cost<br />Price</th>
    <th>Sale<br />Price</th>
    <th>Total<br />Stock<br />Cost</th>
    <th>Total<br />Stock<br />Price</th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
  <tr class="<%= cycle('','even') %>">
    <td class="text"><%=link_to product.name, product %></td>
    <td class="text"><%=h product.product_type.name %></td>
    <td class="text"><%=link_to product.supplier.name, product.supplier %></td>
    <td class="status"><%=h product.storage_type.name %></td>
    <td class="text"><%=h product.storage_location.name %></td>
    <td class="status"><%=h product.stock_quantity.to_s + product.units_of_measure.short_name %></td>
    <td class="number"><%= format_currency(product.cost) %></td>
    <td class="number"><%= format_currency(product.price) %></td>
    <td class="number"><%= format_currency(product.total_stock_cost) %></td>
    <td class="number"><%= format_currency(product.total_stock_price) %></td>
    <td class="status">
      <%= link_to icon_edit, edit_product_path(product) %>
      <%= link_to icon_delete, product, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %> 
  <tr>
    <td class="number" colspan="8">Total</td>
    <td class="number_bothline"><%= format_currency(@total_stock_cost) %></td>
    <td class="number_bothline"><%= format_currency(@total_stock_price) %></td>
  </tr>
</table>