.page-header
  .row
    .span11
      %h1 Products
    .span1
      = link_to "New", new_product_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Supplier
      %th Type
      %th Name
      %th Brand
      %th Purchase Price
      %th Sale Price
      %th GST
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.supplier.name, supplier_path(product.supplier)
        %td= link_to product.product_type.name, product_type_path(product.product_type)
        %td= link_to product.name, product_path(product)
        %td= product.brand
        %td= format_currency(product.purchase_price)
        %td= format_currency(product.sale_price)
        %td= product.gst
        %td= link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(product), :class => 'btn btn-warning btn-mini'