.page-header
  %h1 Product

.row
  .span6
    %p
      %strong Name
      %br
        = @product.name
    %p
      %strong Type
      %br
      = @product.product_type.name
    %p
      %strong Brand
      %br
      = @product.brand
    %p
      %strong Active
      = format_boolean(@product.active)
    %p
      %strong Supplier
      %br
      = @product.supplier.name
    %p
      %strong Reference
      %br
      = @product.supplier_reference
    %p
      %strong Description
      %br
      = @product.description

  .span6
    %p
      %strong Includes GST?
      %br
      = @product.gst
    %p
      %strong Purchase Price (ex GST)
      %br
      = format_currency(@product.purchase_price)
    %p
      %strong Purchase Price (inc GST)
      %br
      = format_currency(@product.purchase_price + @product.gst_purchase_price)
      %small= "Includes #{format_currency(@product.gst_purchase_price)} GST"
    %p
      %strong Sale Price (inc GST)
      %br
      = format_currency(@product.sale_price)
      %small= "Includes #{format_currency(@product.gst_sale_price)} GST"
    %p
      %strong Mark Up
      %br
      = format_currency(@product.markup_amount)
      %small= "(#{number_to_percentage(@product.markup_percentage, :precision => 0)})"

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn btn-warning'
