<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Product type:</b>
  <%=h @product.product_type.name %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @product.supplier.name %>
</p>

<p>
  <b>Supplier Product Code:</b>
  <%=h @product.supplier_reference %>
</p>

<p>
  <b>Certifier:</b>
  <%=h @product.certifier.name %>
</p>

<p>
  <b>Unit Price:</b>
  <%= format_currency(@product.price) %>
</p>

<p>
  <b>Minimum Quantity:</b>
  <%= @product.minimum_quantity.to_s + ' ' + @product.units_of_measure.name %>
</p>

<p>
  <b>Storage type:</b>
  <%=h @product.storage_type.name %>
</p>

<p>
  <b>Storage location:</b>
  <%=h @product.storage_location.name %>
</p>

<p>
  <b>Physical form:</b>
  <%=h @product.physical_form.name %>
</p>

<p>
  <b>Stock amount:</b>
  <%=h @product.stock_quantity.to_s + @product.units_of_measure.short_name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>