= form_for @supplier do |f|
  -if @supplier.errors.any?
    #error_explanation
      %h2= "#{pluralize(@supplier.errors.count, "error")} prohibited this supplier from being saved:"
      %ul
        - @supplier.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :account_name
    = f.text_field :account_name
  .field
    = f.label :account_number
    = f.text_field :account_number
  .field
    = f.label :delivery_rules
    = f.text_area :delivery_rules
  .field
    = f.label :address_line_1
    = f.text_field :address_line_1
  .field
    = f.label :address_line_2
    = f.text_field :address_line_2
  .field
    = f.label :suburb
    = f.text_field :suburb
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :phone_mobile
    = f.text_field :phone_mobile
  .field
    = f.label :phone_home
    = f.text_field :phone_home
  .field
    = f.label :phone_work
    = f.text_field :phone_work
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
