= form_for @supplier do |f|
  -if @supplier.errors.any?
    #error_explanation
      %h2= "#{pluralize(@supplier.errors.count, "error")} prohibited this supplier from being saved:"
      %ul
        - @supplier.errors.full_messages.each do |msg|
          %li= msg

  #left_half
    %h2 Account Details
    .field
      = f.label :name
      %br
      = f.text_field :name, :size => 60
    .field
      = f.label :description
      %br
      = f.text_area :description, :cols => 43, :rows => 8
    .field
      = f.label :website
      %br
      = f.text_field :website, :size => 60
    .field
      = f.label :email
      %br
      = f.text_field :email, :size => 60
    .field
      = f.label :account_name
      %br
      = f.text_field :account_name
    .field
      = f.label :account_number
      %br
      = f.text_field :account_number
    .field
      = f.label :delivery_rules
      %br
      = f.text_area :delivery_rules, :cols => 44, :rows => 8

  #right_half
    %h2 Contact Details
    .field
      = f.label :address_line_1
      %br
      = f.text_field :address_line_1, :size => 60
    .field
      = f.label :address_line_2
      %br
      = f.text_field :address_line_2, :size => 60
    .field
      = f.label :suburb_town
      %br
      = f.text_field :suburb_town, :size => 60
    .field
      = f.label :city
      %br
      = f.text_field :city
    .field
      = f.label :state
      %br
      = f.text_field :state
    .field
      = f.label :postcode
      %br
      = f.text_field :postcode
    .field
      = f.label :country
      %br
      = f.text_field :country
    .field
      = f.label :phone_mobile
      %br
      = f.text_field :phone_mobile
    .field
      = f.label :phone_home
      %br
      = f.text_field :phone_home
    .field
      = f.label :phone_work
      %br
      = f.text_field :phone_work
    .field
      = f.label :comment
      %br
      = f.text_area :comment, :cols => 40, :rows => 4
  #center    
    .actions
      = f.submit 'Save'
