<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description,  :cols => 40, :rows => 4 %>
</p>
<p>
  <%= f.label :website %><br />
  <%= f.text_field :website %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :comment %><br />
  <%= f.text_area :comment,  :cols => 40, :rows => 4 %>
</p>
<p>
  <%= f.label :delivery_rules %><br />
  <%= f.text_area :delivery_rules,  :cols => 40, :rows => 4 %>
</p>