<div id='right_half'>
  <h2>Contact Details</h2>
  <p>
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </p>
  <p>
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </p>
  <p>
    <%= f.label :suburb_town %><br />
    <%= f.text_field :suburb_town %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :phone_mobile %><br />
    <%= f.text_field :phone_mobile %>
  </p>
  <p>
    <%= f.label :phone_home %><br />
    <%= f.text_field :phone_home %>
  </p>
  <p>
    <%= f.label :phone_work %><br />
    <%= f.text_field :phone_work %>
  </p>
</div>

<div id='left_half'>
  <h2>Account Details</h2>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment,  :cols => 40, :rows => 4 %>
  </p>
  <p>
    <%= f.label :delivery_rules %><br />
    <%= f.text_area :delivery_rules,  :cols => 40, :rows => 4 %>
  </p>
</div>