- model_class = @supplier.class
.page-header
  %h1=t '.title', :default => model_class.model_name.titleize

.row
  .span4
    %p
      %strong= model_class.human_attribute_name(:name) + ':'
      %br
      = @supplier.name
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      %br
      = @supplier.description
    = link_to t('.back', :default => t("helpers.links.back")), suppliers_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_supplier_path(@supplier), :class => 'btn'


  .span4
    %p
      %strong= model_class.human_attribute_name(:account_name) + ':'
      %br
      = @supplier.account_name
    %p
      %strong= model_class.human_attribute_name(:account_number) + ':'
      %br
      = @supplier.account_number
    %p
      %strong= model_class.human_attribute_name(:delivery_rules) + ':'
      %br
      = @supplier.delivery_rules
    %p
      %strong= model_class.human_attribute_name(:comment) + ':'
      %br
      = @supplier.comment

  .span4
    %p
      %strong Address
      %br
      = @supplier.pretty_address
    %p
      %strong Telephone
      %br
      = @supplier.pretty_phone
    %p
      %strong= model_class.human_attribute_name(:website) + ':'
      %br
      = @supplier.website
    %p
      %strong= model_class.human_attribute_name(:email) + ':'
      %br
      = @supplier.email

%h2 Products
%table.table.table-striped
  %thead
    %th Name
    %th Type
    %th Brand
    %th Purchase Cost<br/>(Inc GST)
    %th Sale Price<br/>(Inc GST)
  %tbody
    - @supplier.products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.product_type_name
        %td= product.brand
        %td= format_currency(product.purchase_price)
        %td= format_currency(product.sale_price)