= form_for @sales_order do |f|
  -if @sales_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sales_order.errors.count, "error")} prohibited this sales_order from being saved:"
      %ul
        - @sales_order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_id
    = f.number_field :customer_id
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :invoiced_on
    = f.date_select :invoiced_on
  .field
    = f.label :paid_on
    = f.date_select :paid_on
  .field
    = f.label :private_comment
    = f.text_field :private_comment
  .field
    = f.label :public_comment
    = f.text_field :public_comment
  .actions
    = f.submit 'Save'
