<h1>Editing Sales Order <%= @sales_order.id %> for Customer: <%= link_to(@sales_order.user.pretty_name, @sales_order.user) %></h1>

<% form_tag :action => 'add_sales_order_item', :id => @user.id do %>
  <%= render :partial => 'form_add_table' %>
  <p><%= submit_tag 'Add Item' %></p>
<% end %>

<hr>

<table class="listing" width="100%">
  <tr>
    <th>Item</th>
    <th>Supplier</th>
    <th>Type</th>
    <th>Product</th>
    <th>Sale Price<br/>(Inc GST)</th>
    <th>Quantity</th>
    <th>Total Price<br/>(Inc GST)</th>
    <th>GST</th>
    <th></th>
  </tr>

  <% item_index = 1 %>
  <% @sales_order.sales_order_items.each do |item| %>
    <tr class="<%= cycle('','even') %>">
      <td class="status"><%= item_index %></td>
      <td class="text"><%= item.product.supplier.name %></td>
      <td class="text"><%= item.product.product_type.name %></td>
      <td class="text"><%= item.product.name %> [<%= item.product.units_of_measure.short_name %>]</td>
      <td class="number"><%= format_currency(item.product.price) %></td>
      <td class="status"><%= format_decimal_number(item.quantity) %></td>
      <td class="number"><%= format_currency(item.price) %></td>
      <td class="number"><%= format_currency(item.total_gst) %></td>
      <td class="status"><%= link_to(icon_delete, {:action => 'remove_sales_order_item', :id => @user.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete) %></td>
    </tr>
    <% item_index += 1 %>
  <% end %>
  <tr>
    <td class="number" colspan="6"><b>TOTAL</b></td>
    <td class="number_bothline"><%= format_currency(@sales_order.total_price) %></td>
    <td class="number_bothline"><%= format_currency(@sales_order.total_gst) %></td>
  </tr>
</table>

<% form_for(@sales_order) do |f| %>
  <%= f.error_messages %>
  <p><b>Public Comment</b> (appears on statement)<br />
    <%= f.text_area :public_comment,  :cols => 40, :rows => 4 %>
  </p>
  <p><b>Private Comment</b><br />
    <%= f.text_area :private_comment,  :cols => 40, :rows => 4 %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>