.page-header
  %h1 Sales Orders

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th ID
      %th Customer
      %th Items
      %th Amount
      %th Invoiced?
      %th Paid?
      %th Private<br/>Comment
      %th Public<br/>Comment
  %tbody
    - @sales_orders.each do |sales_order|
      %tr
        %td= link_to sales_order.id, sales_order_path(sales_order)
        %td= sales_order.customer.name
        %td= sales_order.sales_order_items.size
        %td= format_currency(sales_order.total_price)
        %td= sales_order.invoiced?
        %td= sales_order.paid?
        %td= truncate(sales_order.private_comment, :length => 30, :omission => '...')
        %td= truncate(sales_order.public_comment, :length => 30, :omission => '...')
        %td{:width => "10%"}
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_sales_order_path(sales_order), :class => 'btn btn-mini btn-warning'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), sales_order_path(sales_order), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

