<div id="center">
  <h1>Sales Orders</h1>

  <table class="listing" width="100%">
    <tr>
      <th>Order</th>
      <th>Customer</th>
      <th>private_comment</th>
      <th>Invoiced?</th>
      <th>Paid?</th>
      <th>Amount</th>
      <th></th>
    </tr>

    <% @sales_orders.each do |sales_order| %>
    <tr class="<%= cycle('','even') %>">
      <td class="status"><%= link_to sales_order.id, sales_order %></td>
      <td class="text"><%= link_to sales_order.user.pretty_name, sales_order.user %></td>
      <td class="text" width="50%"><%=h sales_order.private_comment %></td>
      <td class="status"><%= format_boolean(sales_order.is_invoiced) %></td>
      <td class="status"><%= format_boolean(sales_order.is_paid) %></td>
      <td class="number"><%= format_currency(sales_order.invoice_amount) %></td>
      <td class="status" width="8%">
        <%= link_to icon_edit, edit_sales_order_path(sales_order) %>
        <%= link_to icon_delete, sales_order, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table> 
</div>