<h1>New Sales Order for Customer: <%= @user.pretty_name %></h1>

<% form_tag :action => 'add_basket_item_new', :id => @user.id do %>
<p>
  Product Type <%= select_tag :product_type,  options_for_select(@available_product_types), {:onchange => remote_function(:url => {:action => :update_products}, :with => "'product_type='+value")} %>
</p>

<p>
  <div id="product"><%= render :partial => 'product', :object => @available_products %></div>
</p>

<p>
  Quantity <%= text_field_tag :quantity %> <%= @uom %>
</p>

<%= submit_tag 'Add Item' %>
<% end %> 

<hr>

<table class="listing" width="100%">
  <tr>
    <th>Item</th>
    <th>Type</th>
    <th>Product</th>
    <th>Supplier</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Price</th>
    <th></th>
  </tr>

  <% item_index = 1 %>
  <% @basket.items.each do |item| %>
  <tr class="<%= cycle('','even') %>">
    <td class="status"><%= item_index %></td>
    <td class="text"><%= item.product_type_name %></td>
    <td class="text"><%= item.product_name %></td>
    <td class="text"><%= item.supplier_name %></td>
    <td class="status"><%= item.quantity %> <%= item.units_of_measure %></td>
    <td class="number"><%= format_currency(item.price) %></td>
    <td class="number"><%= format_currency(item.total_price) %></td>
    <td class="status"><%= link_to(icon_delete, {:action => 'remove_basket_item_new', :id => @user.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete) %></td>
  </tr>
  <% item_index += 1 %>
  <% end %>
  <tr>
    <td class="number" colspan="6">Total</td>
    <td class="number_bothline"><%= format_currency(@basket.total_price) %></td>
  </tr>
</table>

<% form_tag :action => 'create', :id => @user.id do %>
<p>
  Comment<br />
  <%= text_area_tag :comment, nil, :rows => 4, :cols => 80 %>
</p>

<p>
  <%= submit_tag 'Create Order' %>
</p>                                                                
<% end %>
