%h1 
  = 'New Sales Order for Customer:'
  = @customer.pretty_name

- form_tag add_basket_item_sales_order_url(:id => @customer.id), :method => :put  do
 
  %table{:border => "0", :cellspacing => "5", :cellpadding => "0"}
    %tr
      %td Product
      %td= select_tag(:product_id, options_for_select(@available_products), {:prompt => "Select ..."})
    %tr
      %td Quantity
      %td= text_field_tag :quantity 
  = submit_tag 'Add Item'

%hr

%table{:class => "listing", :width => "100%"}
  %tr
    %th Item
    %th Supplier
    %th Type
    %th Product
    %th 
      = 'Unit Price'
      %br
      = '(Inc GST)'
    %th Quantity
    %th 
      = 'Sale Price'
      %br
      = '(Inc GST)'
    %th GST
    %th
    - item_index = 1
    - @basket.items.each do |item|
      %tr{:class => (cycle 'odd', 'even')}
        %td{:class => "status"}= item_index
        %td{:class => "text"}= link_to item.supplier_name, Supplier.find_by_name(item.supplier_name)
        %td{:class => "text"}= item.product_type_name
        %td{:class => "text"}= link_to "#{item.product_name} [#{item.units_of_measure}]", Product.find(item.product_id)
        %td{:class => "number"}= format_currency(item.price)
        %td{:class => "status"}= format_decimal_number(item.quantity)
        %td{:class => "number"}= format_currency(item.total_price)
        %td{:class => "number"}= format_currency(item.total_gst)
        %td{:class => "status"}= link_to icon_delete, {:action => 'remove_basket_item', :id => @customer.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete
      - item_index += 1
    %tr
      %td{:class => "number", :colspan => "6"}
        %b= 'TOTAL'
      %td{:class => "number_bothline"}
        %b= format_currency(@basket.total_price)
      %td{:class => "number_bothline"}
        %b= format_currency(@basket.total_gst)

- form_tag :action => 'create', :customer_id => @customer.id do
  %p Public Comment (appears on statement)
  = text_area_tag :public_comment, nil, :rows => 4, :cols => 80
  %p Private Comment
  = text_area_tag :private_comment, nil, :rows => 4, :cols => 80
  %p
    = submit_tag 'Create Order'    