.page-header
  %h1
    = "Sales Order for "
    = link_to @customer.pretty_name, customer_path(@customer)
.row
  .span4
    %p= "Created: #{format_date(@sales_order.created_at)}"
    %p= "Updated: #{format_date(@sales_order.updated_at)}"
    %p
      = "Invoiced:"
      = format_boolean(@sales_order.invoiced?)
      = "Paid:"
      = format_boolean(@sales_order.paid?)

  .span8
    %p
      %strong Private Comment:
      <br/>
      = @sales_order.private_comment
    %p
      %strong Public Comment:
      <br/>
      = @sales_order.public_comment

.page-header
  %h2 Orders Items

%table.table.striped
  %thead
    %th Product Type
    %th Supplier
    %th Product Name
    %th Unit Price<br/>(Inc GST)
    %th Quantity
    %th Sale Price<br/>(Inc GST)
    %th Total<br/>GST

  - @sales_order.sales_order_items.each do |item|
    %tr{:class => (cycle 'odd', 'even')}
      %td{:class => "text"}= item.product.product_type.name
      %td{:class => "text"}= link_to item.product.supplier.name, item.product.supplier
      %td{:class => "text"}= link_to "#{item.product.name}", item.product
      %td{:class => "number"}= format_currency(item.unit_price)
      %td{:class => "status"}= format_decimal_number(item.quantity)
      %td{:class => "number"}= format_currency(item.price)
      %td{:class => "number"}= format_currency(item.gst)
  %tr
    %td{:class => "number", :colspan => "5"} TOTAL
    %td{:class => "number_bothline"}= format_currency(@sales_order.total_price)
    %td{:class => "number_bothline"}= format_currency(@sales_order.total_gst)

%p
  = link_to 'Edit Order', edit_sales_order_path(@sales_order), :class => 'btn btn-warning'
  = link_to 'Download', {:controller => 'sales_orders', :action => 'invoice_pdf', :id => @sales_order.id}, :class => 'btn btn-info'


