<h1>Sales Order <%= @sales_order.id %> [<%= link_to(@sales_order.user.pretty_name, @sales_order.user) %>]</h1>

<table width="500">
  <tr><td width="150"><b>Created</b></td><td><%= format_date(@sales_order.created_at) %></td></tr>
  <tr><td width="150"><b>Invoiced?</b></td><td><%= format_boolean(@sales_order.is_invoiced) %></td></tr>
  <tr><td width="150"><b>Paid?</b></td><td><%= format_boolean(@sales_order.is_paid) %></td></tr>
  <tr><td width="150"><b>Status:</b></td><td><%= @sales_order.status_message %></td></tr>
  <tr><td width="150"><b>Public Comment:</b></td><td><%=h @sales_order.public_comment %></td></tr>
  <tr><td width="150"><b>Private Comment:</b></td><td><%=h @sales_order.private_comment %></td></tr>
</table>  

<hr>

<table class="listing" width="100%">
  <tr>
    <th>Type</th>
    <th>Supplier</th>
    <th>Product</th>
    <th>Unit Price</th>
    <th>GST</th>
    <th>Quantity</th>
    <th>Price<br/>(Inc GST)</th>
  </tr>

  <% @sales_order.sales_order_items.each do |item| %>
  <tr class="<%= cycle('','even') %>">
    <td class="text"><%= item.product.product_type.name %></td>
    <td class="text"><%= item.product.supplier.name %></td>
    <td class="text"><%= item.product.name %> [<%= item.product.units_of_measure.short_name %>]</td>
    <td class="status"><%= format_currency(item.product.price) %></td>
    <td class="status"><%= format_currency(item.product.gst) %></td>
    <td class="status"><%= format_decimal_number(item.quantity) %></td>
    <td class="number"><%= format_currency(item.price) %></td>
  </tr>
  <% end %>
  <tr>
    <td class="number" colspan="6">Total GST</td>
    <td class="number_overline"><%= format_currency(@sales_order.total_gst) %></td>
  </tr>
  <tr>
    <td class="number" colspan="6">Total Price</td>
    <td class="number_bothline"><%= format_currency(@sales_order.total_price) %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_sales_order_path(@sales_order) %>