<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Stock and Sales Manager</title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
</head>
<body>                 

  <div id="container">
    <div id="message"> 
      <% if current_user  %>
        <%= link_to 'Dashboard', :controller => 'welcome' %> |
        <%= link_to 'Edit Profile', edit_user_path(:current) %> |
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Register', new_user_path %> |
        <%= link_to 'Login', login_path %>
      <% end %>
      <p>
        <%= DateTime.now.strftime("%a %d %b %Y") + " [wk " + Date.today.cweek.to_s + "]" %><br />
      </p>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>

    <div id="title">
      <h1>Stock and Sales Manager</h1>
    </div>

    <%= yield %>
  </div>
</body>
</html>
