<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>TeamWork</title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
</head>
<body>                 

  <div id="container">
    <div id="message">
      <p>
        <%= DateTime.now.strftime("%a %d %b %Y") + " [wk " + Date.today.cweek.to_s + "]" %>
      </p>

      <p>
        <% current_project = Project.find(session[:current_project_id]) if session[:current_project_id] %>
        <%= link_to('Project: ' + current_project.name, project_path(current_project)) if current_project %>
      </p>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>
    
    <div id="title">
      <h1>TeamWork</h1>
    </div>

    <%= yield %>
  </div>
</body>
</html>
